{{ if .Params.highlight }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/solarized-light.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/haskell.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

{{ if .Params.tabs }}
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/tabs.css" />
  <script src="{{.Site.BaseURL}}js/tabs.js"></script>
{{ end }}
